/* gallery floating nav */
a._collapz_parant._close:after  {
    content: "\E5D2";     
    font-family: 'Material Icons';
    font-size: 40px;
    position: relative;
    top: 5px;
    font-style: normal;
    color: #fff;
}

a._collapz_parant._open:after {
    content: "\E5CD";     
    font-family: 'Material Icons';
    font-size: 40px;
    position: relative;
    top: 5px;
    font-style: normal;
    color: #fff;
}

a._collapz_parant {
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-decoration: none;
    float: right;
}

a._collapz_parant._close {
    background-color: rgba(45, 49, 53, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

a._collapz_parant._close:after {
    left: 0;
}

a._collapz_parant._open {
    content: "\E5CD";
    background-color: rgba(45, 49, 53, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

ul._child_collapzion {
    position: absolute;
    margin: 0;
    list-style: none;
    padding: 1px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    z-index: 10;
}

ul._child_collapzion li a._collapz_child {
    color: #fff;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: inline-block;
    margin: 6px 14px;
    margin-right: 16px;
    text-align: center;
    background-color: rgba(45, 49, 53, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

ul._child_collapzion li {
    text-align: right;
}

ul._child_collapzion li a._collapz_child i {
    margin-top: 15px;
}

ul._child_collapzion li span._title {
    position: relative;
    left: 8px;
    top: -6px;
    padding: 5px;
    color: honeydew;
    border-radius: 10px;
    background-color: rgba(45, 49, 53, 0.8);
}