html {
    scroll-behavior: smooth;
}

nav {
    box-shadow: 0 0 10px 0 black;
}

body {
    background-color: rgb(248, 248, 248);
}

/* NAV */
.hr-nav {
    width: 45%;
    border-top: 1px solid rgba(255, 255, 255, .25);
  }

.logo-padding {
    padding-bottom: 0;
    padding-top: 0;
}

.active-nav-tab {
    color: white !important;
}

.vl {
    border-left: 1px solid grey;
    height: 100;
    margin: 5px;
  }

.logo-font {
    font-family: cursive;
    font-size: 2.5rem;
}

.nav-item {
    font-size: 18px;
    padding: 3px;
}

/* FOOTER */
.contact-header {
    text-align: center;
    max-width: 5rem;
    margin-top: -1.8rem;
    background-color: rgb(248, 248, 248);
    color: rgb(160, 160, 160);
}

.footer-basic {
    padding:20px 0;
    background-color: rgb(248, 248, 248);
    color:#4b4c4d;
}

.contact-footer{
    padding:0px 0px 25px 0px;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:5px;
}
  
.footer-basic .social > a > img {
    font-size:24px;
    width:30px;
    height:30px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
} 
  
.footer-basic .social > a > img:hover {
    opacity: 1;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

 
/* **********
HOME
********** */

/* MAIN */
.works-img {
    max-width: 75%;
    height: 75%;  
    box-shadow: 5px 5px 10px;
}

.go-to-gallery {
    cursor: alias;
}

.profile-img {
    max-width: 100%;
    height: 100%;  
    border-radius: 4vw;
    box-shadow: 2px 3px 10px;
}

.about-me {
    font-size: 2.5rem;
}


/* extras */
.margin-remove {
    margin:0;
}



/* **********
GALLERY
********** */

/* gallery pictures  */
.gallery-cards {
    display: grid;
    justify-content: center;
    align-content: center;
}

.gallery-card {
    margin: 10px;
}

.gallery-cards .card-img-top{
    box-shadow: 5px 5px 10px;
    transition: all .2s ease-in-out;
}

.gallery-cards .card-img-top:hover{
    transform: scale(1.05); 
}

.thin-underline{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

a {
    color:rgb(35, 35, 35);
}

a:hover {
    color:rgb(40, 40, 40);
}

.card-bg{
    background-color: rgb(248, 248, 248);  
}

.card{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 20px; 
    cursor: pointer;
}

.footer-top{
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 10px;
}

.gallery-container img {
    cursor: zoom-in;
}

.nav-link {
    color: #aaa;
    
}

.nav-link:hover {
    color: #fff;
}

#navbar-jump-to{
    justify-content: center;
    border-top: 1px solid rgba(247, 247, 247, .25);
}

.card-bg nav{
    box-shadow: 0px 0px 10px 0px rgb(52,58,64);
}

#navbar-jump-to .nav-item{
    font-size: 1.2rem;
}

.nav-pills > li > a.active {
    background-color: rgba(247, 247, 247, .25) !important;
}

/* gallery floating nav */
a._collapz_parant._close:after  {
    content: "\E5D2";     
    font-family: 'Material Icons';
    font-size: 40px;
    position: relative;
    top: 10px;
    font-style: normal;
    color: #fff;
}

a._collapz_parant._open:after {
    content: "\E5CD";     
    font-family: 'Material Icons';
    font-size: 40px;
    position: relative;
    top: 10px;
    font-style: normal;
    color: #fff;
}

a._collapz_parant {

    color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-decoration: none;
    float: right;
}

a._collapz_parant._close {
    background-color: #e45353;
}

a._collapz_parant._close:after {
    left: 0;
}

a._collapz_parant._open {
    content: "\E5CD";
    background-color: #2f353e;
}

ul._child_collapzion {
    position: absolute;
    margin: 0;
    list-style: none;
    padding: 1px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    z-index: 10;
}

ul._child_collapzion li a._collapz_child {
    color: #fff;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: inline-block;
    margin: 6px 14px;
    margin-right: 22px;
    text-align: center;
}

ul._child_collapzion li {
    text-align: right;
}

ul._child_collapzion li a._collapz_child i {
    margin-top: 15px;
}

ul._child_collapzion li span._title {
    position: relative;
    left: 8px;
    top: -6px;
    padding: 5px;
    color: honeydew;
    border-radius: 10px;
    background-color: #2f353e;
}

._col_shadow {
    box-shadow: 0px 0px 10px 0px rgb(52,58,64); 
}

#navbar-jump-to {
    display: none;
}

/* **********
CONTACT
********** */

/* CONTACT CARDS */




/* **********
MEDIA QUERIES
********** */

@media (min-width: 561px) { 
    .nav-item{
        font-size: 1.6rem;
    }

    .gallery-cards {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .gallery-card {
        min-width: 250px;
    }

    .artist-picture {
        padding: 30px 0;
    }

}

@media (min-width: 992px) { 
    .nav-item{
        font-size: 1.6rem;
    }

    .gallery-cards {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #navbar-jump-to {
        display: flex;
    } 

    #btncollapzion {
        display: block;
    } 

    #top-nav-items {
        padding-bottom: 0px!important;
    }

}


