/* **********
MAIN
********** */

html {
    scroll-behavior: smooth;
}

nav {
    box-shadow: 0 0 10px 0 black;
}

body {
    background-color: rgb(248, 248, 248);
}

/* NAV */

.bg-darker {
    background: rgba(40, 45, 49, 0.9);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.active-nav-tab {
    border-bottom: solid 2px rgb(180, 180, 180);
    padding-bottom: 3px;
}

.inactive-nav-tab {
    padding-bottom: 2px;
}

.vl {
    border-left: 1px solid grey;
    height: 100;
    margin: 5px;
}

.logo-font {
    font-family: cursive;
    font-size: 1.8rem;
}

.nav-icon {
    max-width: 25px;
    display:block;
    margin:auto;
}

/* .nav-subtext {
    color: rgba(40, 45, 49, 0.9);
    font-size: 1rem;
    font-weight: 300;
    height: 1px;
} */

.logo-icon {
    width: 180px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* FOOTER */
.contact-header {
    text-align: center;
    max-width: 5rem;
    margin-top: -1.8rem;
    background-color: rgb(248, 248, 248);
    color: rgb(160, 160, 160);
}

.footer-basic {
    padding:20px 0;
    background-color: rgb(248, 248, 248);
    color:#4b4c4d;
}

.contact-footer{
    padding:0px 0px 25px 0px;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:5px;
}
  
.footer-basic .social > a > img {
    font-size:24px;
    width:30px;
    height:30px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
} 
  
.footer-basic .social > a > img:hover {
    opacity: 1;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

 
/* **********
HOME
********** */

.about-me {
    font-size: 2.5rem;
}

.works-title {
    text-align: center;
    max-width: 16rem;
    margin-top: -3rem;
    background-color: rgb(248, 248, 248);
}

.section-title {
    font-size: 2.4rem;
    font-weight: 300;
}

.works-img {
    margin-top: 1rem;
    max-width: 75%;
    height: 75%;  
    box-shadow: 5px 5px 10px;
}

.go-to-gallery {
    cursor: alias;
}

.go-to-gallery:hover {
    text-decoration: none;
}

.painting-tag {
    border: rgba(0, 0, 0, 0.1) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 400;
    background-color: rgb(248, 248, 248);
}

.works-background {
    background-image: url("../img/wall-texture.jpg");
    box-shadow: 0 0 9px 9px rgb(250, 250, 250) inset;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* **********
GALLERY
********** */

/* gallery pictures  */
.gallery-cards {
    display: grid;
    justify-content: center;
    align-content: center;
}

.gallery-card {
    margin: 10px;
}

.gallery-cards .card-img-top{
    box-shadow: 5px 5px 10px;
    transition: all .2s ease-in-out;
}

.gallery-cards .card-img-top:hover{
    transform: scale(1.05); 
}

.thin-underline{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

a {
    color:rgb(35, 35, 35);
}

a:hover {
    color:rgb(40, 40, 40);
}

.card-bg{
    background-color: rgb(248, 248, 248);  
}

.card{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 20px; 
    cursor: pointer;
}

.footer-top{
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 10px;
}

.gallery-container img {
    cursor: zoom-in;
}

.nav-link {
    color: #aaa;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #fff;
}

#navbar-jump-to{
    justify-content: center;
    border-top: 1px solid rgba(247, 247, 247, .25);
}

.card-bg nav{
    box-shadow: 0px 0px 10px 0px rgb(52,58,64);
}

#navbar-jump-to .nav-item{
    font-size: 1.2rem;
}

.nav-pills > li > a.active {
    background-color: rgba(247, 247, 247, .25) !important;
}

/* gallery floating nav */
a._collapz_parant._close:after  {
    content: "\E5D2";     
    font-family: 'Material Icons';
    font-size: 40px;
    position: relative;
    top: 5px;
    font-style: normal;
    color: #fff;
}

a._collapz_parant._open:after {
    content: "\E5CD";     
    font-family: 'Material Icons';
    font-size: 40px;
    position: relative;
    top: 5px;
    font-style: normal;
    color: #fff;
}

a._collapz_parant {
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-decoration: none;
    float: right;
}

a._collapz_parant._close {
    background-color: rgba(45, 49, 53, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

a._collapz_parant._close:after {
    left: 0;
}

a._collapz_parant._open {
    content: "\E5CD";
    background-color: rgba(45, 49, 53, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

ul._child_collapzion {
    position: absolute;
    margin: 0;
    list-style: none;
    padding: 1px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    z-index: 10;
}

ul._child_collapzion li a._collapz_child {
    color: #fff;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: inline-block;
    margin: 6px 14px;
    margin-right: 16px;
    text-align: center;
    background-color: rgba(45, 49, 53, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

ul._child_collapzion li {
    text-align: right;
}

ul._child_collapzion li a._collapz_child i {
    margin-top: 15px;
}

ul._child_collapzion li span._title {
    position: relative;
    left: 8px;
    top: -6px;
    padding: 5px;
    color: honeydew;
    border-radius: 10px;
    background-color: rgba(45, 49, 53, 0.8);
}

._col_shadow {
    box-shadow: 0px 0px 10px 0px rgb(52,58,64); 
}

#navbar-jump-to {
    display: none;
}

/* **********
MEDIA QUERIES
********** */

@media (min-width: 561px) { 
    .nav-item{
        font-size: 1.6rem;
    }

    .logo-icon {
        width: 220px;
    }

    .nav-icon-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .nav-icon {
        max-width: 40px;
    }
    
    /* .nav-subtext {
        font-size: 1rem;
    } */

    .gallery-cards {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .gallery-card {
        min-width: 250px;
    }

    .artist-picture {
        padding: 30px 0;
    }

}

@media (min-width: 992px) { 
    .nav-item{
        font-size: 1.6rem;
    }

    .nav-icon-container {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .nav-icon {
        max-width: 40px;
    }

    /* .nav-subtext {
        font-size: 1.2rem;
    } */

    .logo-icon {
        width: 320px;
        margin-left: 1rem;
    }

    #portraiture{
        margin-top: 2.5rem !important;
    }

    .gallery-cards {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #navbar-jump-to {
        display: flex;
    } 

    #btncollapzion {
        display: none;
    } 

    #top-nav-items {
        padding-bottom: 0px!important;
    }

}


