.hr-nav{
    width: 45%;
    border-top: 1px solid rgba(255, 255, 255, .25);
  }

.logo-padding{
    padding-bottom: 0;
    padding-top: 0;
}

.active-nav-tab {
    color: white !important;
}

.vl {
    border-left: 1px solid grey;
    height: 100;
    margin: 5px;
  }


/* **********
media queries
********** */

@media (min-width: 992px) { 
    .nav-item{
        font-size: 1.5rem;
    }

    nav ul {
        margin-left: 100px;
    }
}

